

@{
    ViewBag.itensCarrinho = HttpContext.Current.Session["QuantidadePedido"];
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ovenzinho - Admin</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <style>
        .back {
            background-image: url('../../Images/Page-Background-4-min.jpg');
            width: 100%;
            background-repeat: no-repeat;
        }

        .cabecalhoTable {
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="back">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <!--Nome do link, action,controller, html-->
                        <li>@Html.ActionLink("Home", "HomeCliente", "Principal", null, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Categorias", "ListarCategoriasCliente", "Categorias",null, new { @class = "navbar-brand" })</li>
                        <li>@Html.ActionLink("Produtos", "ListarProdutosCliente", "Produtos",null, new { @class = "navbar-brand" })</li>                      
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
                       <li>@Html.ActionLink("Login admin", "LoginView", "Administradores")</li>
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right" style="margin-right:20px;">
                        <li class="active"><a href=""><span class="badge">@ViewBag.itensCarrinho</span></a></li>
                        <li style="margin-left:0px;">@Html.ActionLink("Carrinho", "Index", "ItemVendas")</li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container body-content">
            @RenderBody()

            <footer style="text-align:center;margin-top:400px;color:#fff">
                <hr />
                <p>&copy; @DateTime.Now.Year - Ovenzinho</p>
            </footer>
        </div>

    </div>
</body>
</html>

